<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGazePy - Flask App</title>
    <script src="https://preview.babylonjs.com/babylon.js"></script>
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='BasicScene.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='babylon_setup.js') }}"></script>
</head>
<body>
</body>
</html>
