<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGazePy</title>
    <script src="https://preview.babylonjs.com/babylon.js"></script>
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <body>
        <div class="container">
            <canvas id="renderCanvas"></canvas>
            <div class="ui-panel">
                <h2>Settings</h2>
                <label for="sceneSelector">Select Scene:</label>
                <select id="sceneSelector">
                    <option value="sphere">Sphere</option>
                    <option value="cube">Cube</option>
                    <option value="pointCloudSimple">Point Cloud Simple</option>
                    <option value="generated">Generated</option>
                    <option value="stream">Ply Stream</option>
                </select>
            </div>
        </div>
        <script type="module" src="static/sceneLoader.js"></script>
    </body>
</body>
</html>
